.page {
  margin: 0 auto;
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1280px;
  font-family: "Inter", arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 720px;
  }
}
